<!DOCTYPE html>
<html>
<head>
    <title>北京时间</title>
</head>
<body>
    <h1>当前北京时间：</h1>
    <p>{{ beijing_time }}</p>
  <meta charset="UTF-8">
  <title>个人介绍</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #333333;
    }

    p {
      color: #666666;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
    }
  </style>
</head>
<body>
  <h1>个人介绍</h1>
  <h2>邹若钦 521021910455</h2>

  <h2>个人简介</h2>
  <p>2021级上海交通大学信息安全专业本科生，兴趣方向：CTF、机器学习、应用安全</p>

  <h2>联系方式</h2>
  <ul>
    <li>Email: zeroking@sjtu.edu.cn</li>
    <li>电话: 159-7952-8443</li>
    <li>我的项目经历: <a href="https://github.com/SJTUzeroking">GitHub@SJTUzeroking</a></li>
    <li>社交媒体:
      <a href="https://weibo.com/u/7377627322">Weibo</a>,
      <a href="https://twitter.com/zerokin26264508">Twitter</a>,
      <a href="https://space.bilibili.com/436393677?spm_id_from=333.1007.0.0">BiLiBiLi</a>
    </li>
  </ul>
</body>
</html>
